body{
    background-image: url(../images/homePhoto.jfif);
    background-size: cover;
}

#title{
    text-decoration: none;
    color: black;
  }

#mainRating{
    text-align: center
}

#mainReview {
    background-color: rgba(256, 256, 256, 0.8);
    width: 100%;
    margin-bottom: 10vh;
  }