#bigcolumn {
    text-align: center;
}

h1 {
    text-align: center;
}

button.btin {
    background: none;
    border-width: 2px;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
}

button.btin:hover {
    color: white;
    background: black;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

.map-container {
    background-color: gray;
    height: 50vh;
    width: 50vw;
}

div.row.adjustdown {
    margin-bottom: 5vh;
}
