body{
  background-image: url(../images/homePhoto.jfif);
  background-size: cover;
}

.jumbotron{
  background-color: rgba(256, 256, 256, 0.6);
}

#streets{
  background-color: rgba(256, 256, 256, 0.50)
}